.FooterModal {
    text-align: left;
    &-title{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #323232;
    }
    
    &-link {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #05245B;
        opacity: 0.7;
        margin-top: 15px;
        display: block;
    }
    .b {
        margin-left: 200px;
    }
}