.SocialLink {
    border-radius: 5px;
    padding: 15px;
    position: relative;
    overflow: hidden;

    &-title {
        max-width: 225px;
        margin-bottom: 15px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        z-index: 2;
    }

    &-btn {
        background: rgba(255, 255, 255, 0.1);
        border: 0.4px solid rgba(255, 255, 255, 0.08);
        box-sizing: border-box;
        backdrop-filter: blur(6px);
        border-radius: 4px;
        padding: 10px 30px;
        outline: none;
        margin-right: 100px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        cursor: pointer;
    }

    &.telegramClass::before {
        content: url('../../assets/images/SocialLinkBefore1.png');
        position: absolute;
        bottom: -5px;
        left: 0;
    }

    &.telegramClass::after {
        content: url('../../assets/images/SocialLinkAfter1.png');
        position: absolute;
        top: 0;
        right: 0;
    }
}