.HeaderItems {
    .header-inner {
        display: flex;
        justify-content: space-between;
        height: 410px;
        margin-top: 65px;

        .blockquote {
            margin-top: 100px;

            &-title {
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 44px;
                color: #FFFFFF;
                margin-bottom: 15px;
                position: relative;

                &::before {
                    content: url('../../assets/images/icons/frame.png');
                    position: absolute;
                    left: -50px;
                }
            }

            &-auth {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                text-align: right;
                display: flex;
                justify-content: end;
            }
        }
    }

    .header-right {
        background-image: url('../../assets/images/headerBack.png');
        background-repeat: no-repeat;
        height: 440px;
        width: 35%;

        &-img {
            width: 480px;
            position: relative;
            height: 300px;
            left: -24px;
            bottom: -30px;
        }

        .selectSection {
            display: flex;
            align-items: center;
            justify-content: end;
        }

        &-tel {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 1px;
            text-align: right;
            color: #fff;
            margin-bottom: 5px;
        }

        &-text {
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            color: rgba(255, 255, 255, 0.7);
        }

        &-select {
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
            color: #FFFFFF;
            outline: none;
            border: none;
            padding: 10px 20px;
            margin-left: 25px;

            option {
                background: #425E8F;
            }
        }


        &-links {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            bottom: -40px;

            .header-right-link {
                background-color: #395280;
                border-radius: 8px;
                z-index: 1;
                padding: 10px 10px 8px 10px;
                height: 20px;
                width: 20px;
                text-align: center;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                position: relative;
                margin-left: 15px;
            }
        }
    }
}