@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('../fonts/FiraSansCondensed-Light.eot');
    src: url('../fonts/FiraSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSansCondensed-Light.woff') format('woff'),
        url('../fonts/FiraSansCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('../fonts/FiraSansCondensed-Regular.eot');
    src: url('../fonts/FiraSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSansCondensed-Regular.woff') format('woff'),
        url('../fonts/FiraSansCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('../fonts/FiraSansCondensed-Medium.eot');
    src: url('../fonts/FiraSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FiraSansCondensed-Medium.woff') format('woff'),
        url('../fonts/FiraSansCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #F9F9F9;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}